*.[oa]
*.lo
*.la
*.in
*~
*.cfg
*.pid
*.log
*.ready
*.trs
*.sent*
*.recv*
.DS_Store
test_*
TAGS
Makefile
ac_config.h
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
libtool.m4
ltoptions.m4
ltsugar.m4
ltversion.m4
lt~obsolete.m4
missing
stamp-h1
.deps
.libs
mtest
scm_state_snapshot
ar-lib
versatile
test-driver
check_fixio
check_fixmsg
memsizes
memsizes.h
cscope*
compile

